.member-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.member-item,
.group-item :hover {
    cursor: pointer;
}

.member-name {
    font-size: 14px;
    color: #333;
}

.avatar {
    font-size: 30px;
    color: #666;
}